    <p id="notice"><%= notice %></p>
    <h1>List of all cocktails!</h1>
<table>
  <tbody>
    <%@cocktails.each do |cocktail| %>
      <tr>
         <td><%=cocktail.name%></td>
         <td><%= link_to "Show", cocktail %></td>
         <td><%= link_to "Edit", edit_cocktail_path(cocktail) %></td>
         <td><%= link_to "Delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New cocktail',new_cocktail_path %>
<br>
<%= cl_image_tag("akjnblq7fcikbfkd4v5v",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("b14jknixxpijivfldvg2",
      width: 150, height: 150, crop: :thumb, gravity: :face) %> <br>


