<%= simple_form_for [@cocktail, @dose] do |f| %>
<!-- you are basically saying I am writing a form of a review from the restaurant model -->
<!-- The values of the @review is specified in the show of the restaurant controller so you can go through there
but it is also specified in the reviews controller. So you can go through there
The values of the @restaurant is specified in both in the reviews controller new and also in the show of the restaurant controller.
Please check the show of the rewstaurant controller -->
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.association :ingredient%>
   <!--  We can associate because of the belongs to -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

